body{
    background-color: blue;
}
h1{
    font-size: medium;
    color: black;
    text-align: center;
}
img{
    width: 300px;
    height:300px;
    margin-left: 150px;
}
.cabecalho{
    background-color: aqua;
    display: flex;
}
.logoimg{
    width: 90px;
}
.listacabecalho{
    display: flex;
    margin-left: 700px;
    margin-top: 100px;

}
.item{
    list-style: none;
    text-transform: uppercase;
    font-size: 30px;
    color: black;
    padding-left: 30px;
    
}